In [6]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math as math
import numpy as np

In [2]:
df = pd.read_csv('Resultados/EJ3/first_experiment.csv')
df2 = pd.DataFrame()
group = df.groupby('routes')
# group.keys()
df2['nanoseconds'] = group['nanoseconds'].mean()
df2['R*log(100)'] = [(i * math.log(100))  for i in range(100, 1078)]
df2['R*log(R)'] = [((i) * math.log(i))  for i in range(100, 1078)]
df2['(R^2)*log(100)'] = [((i**2) * math.log(100))  for i in range(100, 1078)]
df2.corr()

                nanoseconds  R*log(100)  R*log(R)  (R^2)*log(100)
nanoseconds        1.000000    0.984978  0.987000        0.977765
R*log(100)         0.984978    1.000000  0.999428        0.977751
R*log(R)           0.987000    0.999428  1.000000        0.984179
(R^2)*log(100)     0.977765    0.977751  0.984179        1.000000

In [21]:
df = pd.read_csv('Resultados/EJ3/second_experiment.csv')

df2 = pd.DataFrame()
group = df.groupby('vertices')
# group.keys()
# df2['Nanosegundos ordenado'] = group['nanoseconds_sorted'].mean()
# df2['Nanosegundos random'] = group['nanoseconds_random'].mean()
# df2['Nanosegundos orden invertido'] = group['nanoseconds_inverted'].mean()
# df2.plot(x='vertices')
# df.plot(x='vertices')

TypeError: 'str' object is not callable